# Java / Maven
target/
*.class
*.jar
*.war
*.ear

**/target/
**/target/jib-cache/
*.jar

# IntelliJ
.idea/
*.iml
*.iws
out/

# Log fișiere
*.log

# Docker (dacă ai date persistente local)
mysql_data/

# OS specific
.DS_Store
Thumbs.db